mixin button(options)

      if (options.submit === true)  /* кнопка для отправки данных со стрелкой */
         .button_submit_wrap.button_wrap 
            .button_head
               h3(class= options.title ? "button__title" : "")= options.title ? options.title : ""
            .button_body
               a(href=options.linkName ? options.linkName : "#")
                  button(type="button").buttton__submit
                     h3=options.name
                     i.material-icons arrow_forward
      
      else if (options.border === true)  /* кнопка с рамкой для перехода или отрытия событий */
         .button_border_wrap.button_wrap
            .button_head
               h3(class= options.title ? "button__title" : "")= options.title ? options.title : ""
            .button_body
               a(href=options.linkName ? options.linkName : "#")
                  h3.buttton__link.border__btn= options.name

      else if (options.fill === true) /* кнопка с заливкой для перехода или отрытия событий */
         .button_fill_wrap.button_wrap
            .button_head
               h3(class= options.title ? "button__title" : "")= options.title ? options.title : ""
            .button_body
               a(href=options.linkName ? options.linkName : "#")
                  h3.buttton__link.fill__btn= options.name

      else
         .button_text_wrap.button_wrap
            .button_head
               h3(class= options.title ? "button__title" : "")= options.title ? options.title : ""
            .button_body
               button(type="button").text__btn
                  h3= options.name
               