include ../../form_elements/rate_button/rate_button

mixin room(options)

   each elem in options.elems
      - let amountPhotos = elem.amountPhotos ? elem.amountPhotos : 4
      - let roomNumber = elem.roomNumber ? elem.roomNumber : 888


      .room_wrap
         .room_photo__slider
            - for(let i= 1; i < amountPhotos + 1; i++ )
               a.room_details__link(href=elem.linkName ? elem.linkName : "./room_details.html")   
                  img(src=(`./blocks/cards/room/img/${roomNumber}/room_${roomNumber}__photo_${i}.png`), alt="фото номера")
               
         .room_info
            ul
               li.room_info__item
                  p.room_number__block
                     a.room_details__link(href=elem.linkName ? elem.linkName : "./room_details.html")  
                        span № 
                        span.room_number= roomNumber
                           span(class = elem.luxury ? "room_number__lux" : "")= elem.luxury ? " люкс" : ""
                  p.room_price__block
                     span.room_price= elem.roomPrice? elem.roomPrice + "₽": "9 990₽"
                     span 
                     | в сутки
               li.room_info__item
                  +rate_button({starsActive: elem.starsActive ? elem.starsActive : 5})
                  p.room_reviews__block
                     span.numbers_reviews= elem.roomReviews? elem.roomReviews : "145"
                     span 
                     | Отзывов